@model SmarTInterN.Models.Account.ViewModels.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (ViewData["errorMessage"] != null)
{
    <div class="messagePopup error">
        <div class="messagePopupContent">
            @ViewData["errorMessage"]
        </div>
    </div>
}

    <div class="passTitle">
        <h1>Change your password</h1>
        <p>A strong password helps prevent unauthorized access to your account.</p>
    </div>

    <div class="registrationForm form">

        @using (Html.BeginForm("ChangePassword","Account"))
        {
            <div class="row">
                @Html.LabelFor(p => p.Password, "Current password")
                @Html.PasswordFor(p => p.Password, new {@autocomplete = "off" })
                 <span class="tooltip">
                     @Html.ValidationMessageFor(p => p.Password)
                 </span>
            </div>
            <div class="row">
                @Html.LabelFor(p => p.NewPassword, "New password")
                @Html.PasswordFor(p => p.NewPassword)
            </div>
            <div style=" font-size:15px;"  >
                <p>6-character minimum; case sensitive</p>
            </div>
            <div class="row">
                @Html.LabelFor(p => p.ConfirmPassword, "Reenter password")
                @Html.PasswordFor(p => p.ConfirmPassword)
                <span class="tooltip">
                     @Html.ValidationMessageFor(p => p.ConfirmPassword)
                </span>
            </div>
            <div class="row buttonRow">
            <button type="submit" class="button">
                <span>Save</span>
            </button>
            <div class="cancelButton right">@Html.ActionLink("Cancel", "Index", "Home")</div>
        </div>
        }
    </div>

